@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    background-color: #100217;
    color: #b0b0b0;
}

h1, h2, h3, h4, h5 {
    color: #ffffff;
}

h1 {
    font-size: 27px;
    line-height: 2.8rem;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

p {
    font-size: 13px;
    line-height: 1.4rem;
    color: #b0b0b0;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1280px;
}

.left_side,
.right_side  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left_side img, .right_side img {
    max-width: 300px;
} 

.regular_btn {
    padding: 14px 30px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #245CF5;
    background-color: #245CF5;
}


                    /* HEADER & NAV */


header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.up {
    width: 100%;
    height: 75px;
    background-color: #000000;
    border-bottom: 5px solid #7d00a0;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1280px;
}

.logo {
    font-size: 28px;
}

.nav_items {
    width: 50%;
    margin-right: 100px;
}

.nav_items ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 13px;
    width: 100%;
}

.nav_items ul :nth-child(1) {
    color: #245CF5;
}

.nav_items li {
    font-weight: 500;
}

.nav_items,
.login {
    display: none;
}

.login {
    font-size: 13px;
    padding: 5px 38px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #b0b0b0;
}

nav i {
    font-size: 24px;
    color: #ffffff;
}


                    /* media queries */


@media screen and (min-width: 980px) {

    .nav_items,
    .login {
        display: block;
    }

    nav .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    .up {
        height: 85px;
    }

    .nav_items {
        width: 47%;
        margin-right: 150px;
    }

    .nav_items li {
        font-size: 14px;
    }

    .login {
        font-size: 13px;
        padding: 6px 45px;
        border: 2px solid #b0b0b0;
    }
}

@media screen and (min-width: 1280px) {

    .logo {
        font-size: 36px;
    }

    .nav_items {
        width: 44%;
        margin-right: 220px;
    }

    .login {
        font-size: 14px;
        padding: 5px 46px;
    }
}


                    /* HERO */


.hero {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 90%;
    max-width: 1280px;
}

.hero .left_side {
    align-items: start;
    overflow-wrap: break-word;
    padding: 70px 0 45px 0;
    max-width: 598px;
}

.hero .left_side .blurb {
    margin-top: 10px;
    max-width: 550px;
}

.get_started {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    width: 100%;
}

.hero .regular_btn {
    margin-right: 20px;
}

.play {
    display: flex;
    align-content: baseline;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 20px;
    width: 110px;
}

.triangle_holder {
    background-color: #245CF5;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4px;
}

.triangle {
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 0px 4px 6px 4px;
    height: 0px;
    width: 0px;
    transform: rotate(90deg);
}

.play p {
    margin-top: 0;
    color: #ffffff;
    font-size: 13px;
}

.slider_space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0;
}

.rectangles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3px;
    width: 46px;
}

.rectangles div {
    height: 100%;
    width: 20px;
    border-radius: 15%;
}

.rectangles div:nth-child(1) {
    background-color: #245CF5;
}

.rectangles div:nth-child(2) {
    background-color: #3F3F3F;
}


                /* media queries */

                
@media screen and (min-width: 440px) {

    .left_side img, .right_side img {
        max-width: 340px;
    } 
}

@media screen and (min-width: 580px) {

    .hero .left_side .blurb {
        margin-top: 15px;
        line-height: 1.5rem;
    }

    .left_side img, .right_side img {
        max-width: 380px;
    } 
}

@media screen and (min-width: 800px) {

    .left_side img, .right_side img {
        max-width: 400px;
    } 
}

@media screen and (min-width: 862px) {

    .hero {
        padding: 90px 0 45px 0;
        margin-top: 120px;
        flex-direction: row;
        gap: 10%;
    }

    .hero .left_side {
        max-width: 364px;
    }

    .hero .left_side h1 {
        font-weight: 600;
    }

    .left_side img, .right_side img {
        max-width: 350px;
    } 

    .hero .right_side {
        flex-direction: row;
        justify-content: right;
        flex: 1;
    }
}

@media screen and (min-width: 900px) {

    .left_side img, .right_side img {
        max-width: 380px;
    } 
}

@media screen and (min-width: 955px) {

    .hero .left_side {
        max-width: 410px;
    }

    .hero .left_side h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .hero .left_side .blurb {
        max-width: 340px;
    }
}

@media screen and (min-width: 1000px) {

    .hero .left_side h1 {
        font-weight: 600;
    }

    .left_side img, .right_side img {
        max-width: 400px;
    } 
}

@media screen and (min-width: 1025px) {

    .hero {
        gap: 8%;
    }

    .hero .left_side {
        max-width: 420px;
    }

    .hero .left_side h1 {
        font-size: 32px;
        line-height: 3.4rem;
    }

    .left_side img, .right_side img {
        max-width: 420px;
    } 
}

@media screen and (min-width: 1080px) {
    
    .hero {
        gap: 10%;
    }

    .left_side img, .right_side img {
        max-width: 460px;
    }

    .slider_space {
        margin: 25px 0;
    }
}

@media screen and (min-width: 1100px) {

    .hero .left_side {
        max-width: 480px;
    }

    .hero .left_side .blurb {
        font-size: 14px;
        max-width: 365px;
        line-height: 1.6rem;
    }

    .hero .left_side h1 {
        font-size: 34px;
    }

    .play {
        width: 120px;
    }

    .get_started p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1160px) {

    .hero .left_side h1 {
        font-size: 36px;
        line-height: 3.5rem;
    }

    .left_side img, .right_side img {
        max-width: 480px;
    } 
}

@media screen and (min-width: 1180px) {

    .hero .left_side h1 {
        font-size: 37px;
    }
}


@media screen and (min-width: 1200px) {

    .hero .left_side {
        max-width: 500px;
    }

    .hero .left_side h1 {
        font-size: 38px;
        line-height: 3.6rem;
    }

    .left_side img, .right_side img {
        width: 500px;
    } 
}

@media screen and (min-width: 1230px) {
    
    .hero .left_side {
        max-width: 520px;
    }

    .hero .left_side h1 {
        font-size: 39px;
        line-height: 3.8rem;
    }
}


@media screen and (min-width: 1280px) {

    .hero {
        margin-top: 120px;
        gap: 8%;
    }

    .hero .left_side {
        max-width: 560px;
    }

    .hero .left_side h1 {
        font-size: 42px;
        line-height: 4rem;
    }

    .left_side img, .right_side img {
        width: 510px;
    } 
}

@media screen and (min-width: 1320px) {

    .hero .left_side {
        max-width: 560px;
    }

    .hero .left_side h1 {
        font-size: 43px;
    }

    .hero .left_side .blurb {
        margin-top: 16px;
        font-size: 15px;
        max-width: 410px;
        line-height: 1.7rem;
    }

    .left_side img, .right_side img {
        max-width: 530px;
    } 
}

@media screen and (min-width: 1380px) {

    .hero .left_side {
        max-width: 580px;
    }

    .hero .left_side h1 {
        font-size: 44px;
    }

    .hero .left_side .blurb {
        margin-top: 16px;
        font-size: 15px;
        max-width: 410px;
        line-height: 1.7rem;
    }

    .play {
        width: 125px;
    }

    .get_started p {
        font-size: 16px;
    }

    .left_side img, .right_side img {
        width: 550px;
    } 
}

@media screen and (min-width: 1440px) {

    .hero {
        gap: 8%;
    }

    .hero .left_side {
        max-width: 620px;
    }

    .hero .left_side h1 {
        font-size: 48px;
        max-width: 620px;
        line-height: 4.5rem;
        font-weight: 600;
    }

    .hero .left_side .blurb {
        font-size: 16px;
        max-width: 420px;
        line-height: 1.8rem;
    }

    .play {
        width: 135px;
    }

    .get_started p {
        font-size: 17px;
        font-weight: 500;
    }

    .left_side img, .right_side img {
        width: 560px;
        max-width: 580px;
    }

    .slider_space {
        margin: 60px 0;
    }
}


                    /* INTERLUDE */


.interlude_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    width: 90%;
    max-width: 1280px;
    padding: 75px 0 100px;
}

.interlude_1 div {
    height: 160px;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.interlude_1 div div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #2f2f2f;
}

.interlude_1 div p {
    margin-top: 12px;
    color: #5c5c5c;
}

.interlude_1 .learning div i {
    font-size: 32px;
}

.interlude_1 .curriculum div i {
    font-size: 24px;
}

.interlude_1 .project div i {
    font-size: 28px;
}


                    /* media queries */


@media screen and (min-width: 645px) {

    .interlude_1 {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 8%;
    }

    .interlude_1 div:nth-child(3) {
        position: relative;
        left: 59%;
    }
}                   

@media screen and (min-width: 725px) {

    .interlude_1 {
        column-gap: 6%;
    }

    .interlude_1 div {
        height: 180px;
        max-width: 280px;
    }

    .interlude_1 div div {
        height: 65px;
        width: 65px;
    }

    .interlude_1 div h5 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1015px) {

    .interlude_1 {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 6%;
        padding: 100px 0 100px;
    }

    .interlude_1 div:nth-child(3) {
        left: 0;
    }
}

@media screen and (min-width: 1230px) {

    .interlude_1 {
        column-gap: 10%;
    }

    .interlude_1 div {
        height: 180px;
        max-width: 280px;
    }

    .interlude_1 div div {
        height: 65px;
        width: 65px;
    }

    .interlude_1 .learning div i {
        font-size: 36px;
    }

    .interlude_1 .curriculum div i {
        font-size: 30px;
    }

    .interlude_1 .project div i {
        font-size: 32px;
    }

    .interlude_1 div h5 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1360px) {

    .interlude_1 {
        column-gap: 14%;
    }

    .interlude_1 div {
        height: 200px;
        max-width: 290px;
    }

    .interlude_1 div h5 {
        font-size: 17px;
    }

    .interlude_1 div p {
        margin-top: 15px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1420px) {
    
    .interlude_1 {
        column-gap: 16%;
    }

    .interlude_1 div p {
        font-size: 15px;
    }
}

@media screen and (min-width: 1440px) {
    
    .interlude_1 {
        column-gap: 10%;
        padding: 120px 0 120px;
    }

    .interlude_1 div {
        height: 200px;
        max-width: 340px;
        margin: 0;
    }

    .interlude_1 div div {
        height: 69px;
        width: 69px;
    }

    .interlude_1 .learning div i {
        font-size: 38px;
    }

    .interlude_1 .curriculum div i {
        font-size: 32px;
    }

    .interlude_1 .project div i {
        font-size: 34px;
    }

    .interlude_1 div h5 {
        font-size: 18px;
    }

    .interlude_1 div p {
        margin-top: 16px;
        font-size: 16px;
        line-height: 1.8rem;
    }
}


                    /* FIRST SECTION */


.first_section {
    padding-bottom: 75px;
}

.first_section h3 {
    margin: 10px 0 69px;
}

.first_section .right_side {
    padding: 60px 0 40px;
    overflow-wrap: break-word;
}

.first_section .right_side h2, .first_section .right_side button  {
    align-self: center;
}

.first_section .right_side p {
    margin: 15px 0 15px 0;
}


                    /* media queries */


@media screen and (min-width: 862px) {

    .first_section .housing {
        display: flex;
        gap: 8%;
        width: 100%;
    }

    .first_section .left_side {
        flex-direction: row;
        justify-content: start;
        flex: 1;
    }

    .first_section .left_side img {
        width: 100%;
    }

    .first_section .right_side {
        padding: 0;
        align-items: flex-start;
        width: 46%;
    }

    .first_section .right_side p {
        max-width: 395px;
    }

    .first_section .right_side h2, .first_section .right_side button  {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1100px) {

    .first_section .housing {
        margin-top: 30px;
    }

    .first_section h3 {
        font-size: 22px;
    }

    .first_section .right_side h2 {
        font-size: 26px;
    }

    .first_section .right_side p {
        font-size: 14px;
        max-width: 425px;
        line-height: 1.6rem;
    }
}

@media screen and (min-width: 1160px) {
    
    .first_section .left_side img {
        max-width: 545px;
    }

    .first_section h3 {
        font-size: 24px;
    }

    .first_section .right_side h2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1220px) {
    
    .first_section h3 {
        font-size: 26px;
    }

    .first_section .right_side h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1320px) {

    .first_section .housing {
        margin-top: 40px;
    }

    .first_section .left_side img {
        max-width: 588px;
    }
    
    .first_section h3 {
        font-size: 28px;
    }

    .first_section .right_side h2 {
        font-size: 32px;
    }
    
    .first_section .right_side p {
        font-size: 15px;
        max-width: 455px;
        line-height: 1.7rem;
    }
}

@media screen and (min-width: 1440px) {
    
    .first_section {
        padding-bottom: 150px;
    }

    .first_section .housing {
        margin-top: 50px;
    }
    
    .first_section h3 {
        font-size: 32px;
        font-weight: 600;
    }

    .first_section .right_side h2 {
        font-size: 36px;
        font-weight: 600;
    }
    
    .first_section .right_side p {
        font-size: 16px;
        max-width: 485px;
        line-height: 1.8rem;
    }

    .regular_btn {
        padding: 18px 34px;
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 8px;
    }
}


                    /* SECOND SECTION */


.second_section {
    padding: 75px 0 100px;
}

.second_section .left_side {
    align-items: start;
    padding: 20px 0 80px;
    overflow-wrap: break-word;
}

.second_section .left_side p {
    margin: 30px 0 20px 0;
}

.second_section .left_side h2, .second_section .left_side button  {
    align-self: center;
}


                    /* media queries */


@media screen and (min-width: 862px) {

    .second_section {
        flex-direction: row;
        gap: 8%;
    }

    .second_section .right_side {
        flex-direction: row;
        justify-content: end;
        flex: 1;
    }

    .second_section .right_side img {
        width: 100%;
    }

    .second_section .left_side {
        padding: 0;
        align-items: flex-start;
        width: 46%;
    }

    .second_section .left_side p {
        max-width: 380px;
    }

    .second_section .left_side h2, .second_section .left_side button  {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1100px) {

    .second_section .left_side h2 {
        font-size: 26px;
    }

    .second_section .left_side p {
        font-size: 14px;
        max-width: 410px;
        line-height: 1.6rem;
    }
}

@media screen and (min-width: 1160px) {
    
    .second_section .right_side img {
        max-width: 545px;
    }

    .second_section .left_side h2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1220px) {

    .second_section .left_side h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1320px) {

    .second_section .right_side img {
        max-width: 588px;
    }

    .second_section .left_side h2 {
        font-size: 32px;
    }
    
    .second_section .left_side p {
        font-size: 15px;
        max-width: 445px;
        line-height: 1.7rem;
    }
}

@media screen and (min-width: 1440px) {
    
    .second_section {
        padding: 150px 0 150px;
    }

    .second_section .left_side h2 {
        font-size: 36px;
        font-weight: 600;
    }
    
    .second_section .left_side p {
        font-size: 16px;
        max-width: 470px;
        line-height: 1.8rem;
    }
}

                    /* THIRD SECTION */


.third_section {
    padding: 100px 0 75px;
}

.third_section .right_side {
    align-items: start;
    padding: 50px 0 50px;
}

.third_section .right_side p {
    margin: 25px 0;
    font-size: 14px;
    font-weight: 400;
}

.third_section .right_side ul {
    list-style: none;
    margin-bottom: 20px;
}

.third_section .right_side ul li {
    display: flex;
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 20px;
}

.third_section .right_side ul li div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #245CF5;
    margin-right: 8px;
}

.third_section .right_side ul li div i {
    color: #ffffff;
    font-size: 14px;
}

.third_section .transparent_btn {
    padding: 11px 32px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #245CF5;
    background-color: transparent;
    align-self: center;
}


                    /* media queries */


@media screen and (min-width: 862px) {

    .third_section {
        flex-direction: row;
        gap: 10%;
    }

    .third_section .left_side {
        flex-direction: row;
        justify-content: start;
        flex: 1;
    }

    .third_section .left_side img {
        width: 100%;
    }

    .third_section .right_side {
        padding: 0;
        align-items: flex-start;
        width: 44%;
    }

    .third_section .right_side button  {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1100px) {

    .third_section h4 {
        font-size: 18px;
    }

    .third_section .right_side ul li  {
        font-weight: 500;
    }

    .third_section .right_side p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1160px) {
    
    .first_section .left_side img {
        max-width: 545px;
    }

    .third_section .right_side h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1220px) {

    .third_section .right_side h4 {
        font-size: 21px;
    }
}

@media screen and (min-width: 1320px) {

    .first_section .left_side img {
        max-width: 588px;
    }
    
    .third_section .right_side h4 {
        font-size: 22px;
    }

    .third_section .right_side ul li  {
        font-size: 14px;
    }
    
    .third_section .right_side p {
        font-size: 15px;
        margin: 30px 0;
    }
}

@media screen and (min-width: 1440px) {
    
    .third_section {
        gap: 12%;
        padding: 100px 0 100px;
    }

    .third_section .right_side {
        width: 42%;
    }

    .third_section .transparent_btn {
        padding: 16px 34px;
        font-size: 15px;
        border-radius: 10px;
        font-weight: 500;
    }

    .third_section .right_side h4 {
        font-size: 23px;
        font-weight: 600;
    }

    .third_section .right_side ul li  {
        font-size: 15px;
    }
    
    .third_section .right_side p {
        font-size: 16px;
    }
}                


                    /* INTERLUDE */


.interlude_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 50px;
}

.interlude_2 h2 {
    margin-bottom: 29px;
}

.companies {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: #1F1D22;
    border-radius: 5px;
}

.company img {
    height: 12px;
    width: 12px;
}

.company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 42px 27px 42px;
    width: 150px;
}

.company p {
    font-size: 13px;
    color: #6d6d6d;
}


                    /* media queries  */


@media screen and (min-width: 510px) {

    .companies {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 660px) {

    .companies {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .company {
        padding: 28px 42px 28px 42px;
    }

    .companies div:nth-child(4) {
        position: relative;
        left: 100%;
    }
}

@media screen and (min-width: 900px) {

    .companies {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .company {
        padding: 24px 42px 24px 42px;
    }

    .companies div:nth-child(4) {
        left: 0;
    }
}

@media screen and (min-width: 1080px) {

    .interlude_2 h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .company {
        padding: 28px 46px;
        width: 170px;
    }

    .company p {
        font-size: 14px;
        font-weight: 400;
    }

    .company img {
        height: 14px;
        width: 14px;
    }
}  

@media screen and (min-width: 1280px) {

    .interlude_2 h2 {
        font-size: 26px;
    }

    .company {
        padding: 38px 58px;
        width: 200px;
    }

    .company p {
        font-size: 16px;
        font-weight: 500;
    }

    .company img {
        height: 15px;
        width: 15px;
    }
}

@media screen and (min-width: 1320px) {

    .interlude_2 h2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1440px) {
    
    .interlude_2 h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
    }
}


                    /* FOURTH SECTION  */

            
.fourth_section {
    padding: 100px 0 75px;
}    


                    /* GRADUATES */


.graduates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.graduates .left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: start;
    padding: 75px 0 75px;
    overflow-wrap: break-word;
}

.graduates .left_side p {
    margin: 10px 0 20px;
    font-size: 12px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F1D22;
    padding: 15px 17px 14px 15px;
    height: 155px;
    max-width: 270px;
    border-left: solid 3px #245cf5b6;
    border-radius: 0 7px 7px 0;
}

.quote span {
    font-size: 11px;
    line-height: 1.4rem;
}

.student {
    display: flex;
    align-items: start;
    justify-content: left;
}

.graduate {
    display: flex;
    flex-direction: column;
}
 
.graduate span:nth-child(1) {
    font-size: 13px;
    font-weight: 500;
    color: #d5d5d5;
    margin-bottom: 4px;
}

.graduate span:nth-child(2) {
    font-size: 12px;
    color: #b0b0b0;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0 0 24px;
    width: 100px;
}

.stars i {
    color: #ebad10;
    font-size: 12px;
}

.circles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42px;
}

.circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #333333;
}

.circles div:nth-child(1) {
    background-color: #ffffff;
}


                    /* media queries */

@media screen and (min-width: 445px) {
    
    .graduates .left_side p {
        max-width: 400px;
    }
}

@media screen and (min-width: 575px) {
    
    .graduates .left_side {
        padding: 75px 0 100px;
    }

    .box {
        padding: 19px 21px 18px 19px;
        height: 185px;
        max-width: 360px;
        border-left: solid 4px #245cf5b6;
        border-radius: 0 9px 9px 0;
    }
    
    .quote span {
        font-size: 15px;
        line-height: 1.7rem;
    }
    
    .student {
        display: flex;
        align-items: start;
        justify-content: left;
    }
    
    .graduate {
        display: flex;
        flex-direction: column;
    }
     
    .graduate span:nth-child(1) {
        font-size: 17px;
        font-weight: 500;
        color: #d5d5d5;
        margin-bottom: 4px;
    }
    
    .graduate span:nth-child(2) {
        font-size: 16px;
        color: #b0b0b0;
    }
    
    .stars {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 0 0 24px;
        width: 130px;
    }
    
    .stars i {
        color: #ebad10;
        font-size: 16px;
    }
}

@media screen and (min-width: 862px) {

    .graduates {
        flex-direction: row;
        gap: 6%;
    }

    .graduates .right_side {
        flex-direction: row;
        justify-content: end;
        flex: 1;
    }

    .graduates .right_side img {
        width: 100%;
    }

    .graduates .left_side {
        padding: 0;
        align-items: flex-start;
        width: 46%;
    }

    .graduates .left_side p {
        max-width: 280px;
    }
}

@media screen and (min-width: 950px) {
    
    .graduates {
        gap: 8%;
    }
    
    .graduates .left_side h2 {
        font-size: 26px;
    }
}

@media screen and (min-width: 1100px) {

    .graduates .left_side h2 {
        font-size: 28px;
    }

    .graduates .left_side p {
        font-size: 14px;
        max-width: 330px;
        line-height: 1.6rem;
    }
}

@media screen and (min-width: 1160px) {
    
    .graduates .right_side img {
        max-width: 545px;
    }

    .graduates .left_side h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1220px) {

    .graduates .left_side h2 {
        font-size: 32px;
    }
}

@media screen and (min-width: 1320px) {

    .graduates .right_side img {
        max-width: 588px;
    }

    .graduates .left_side h2 {
        font-size: 34px;
    }
    
    .graduates .left_side p {
        font-size: 15px;
        max-width: 360px;
        line-height: 1.7rem;
    }
}

@media screen and (min-width: 1440px) {
    
    .fourth_section {
        padding: 150px 0 135px;
    }

    .graduates {
        margin-top: 75px;
    }

    .graduates .left_side h2 {
        font-size: 36px;
        font-weight: 600;
    }
    
    .graduates .left_side p {
        font-size: 16px;
        max-width: 400px;
        line-height: 1.8rem;
        margin: 6px 0 30px;
    }

    .circles {
        width: 56px;
    }

    .circle {
        height: 7px;
        width: 7px;
    }
    
}
          

                    /* FOOTER */


footer {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}

.footer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
    width: 90%;
    max-width: 1280px;
    margin: 75px 0 75px;
}

.first_footer_item {
    height: 220px;
    max-width: 295px;
    padding: 40px 0 10px;
    overflow-wrap: break-word;
}

.footer div h4 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 20px;
    color: #3569f9e6;
}

.first_footer_item p {
    line-height: 1.6rem;
}

.footer div h5 {
    margin: 0 0 50px;
    font-weight: 600;
    color: #262626;
}

.footer ul {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: disc;
    list-style-position: inside;
}

.footer div ul li {
    font-size: 13px;
    font-weight: 400;
    color: #555555;
}

.footer div ul li::marker {
    color: #2a61fabd;
    font-size: 14px;
}

.third_footer_item ul li:nth-child(3) {
    color: #2a61fabd;
} 

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
}

.socials i {
    font-size: 20px;
    margin: 0 10px;
    color: #245CF5;
}


                    /* media queries */


@media screen and (min-width: 470px) {

    .footer {
        grid-template-columns: auto auto;
        column-gap: 6%;
        row-gap: 0px;
    }
}

@media screen and (min-width: 820px) {

    .footer {
        grid-template-columns: auto auto auto;
        column-gap: 10%;
    }

    .footer ul {
        height: 90px;
    }
}

@media screen and (min-width: 920px) {
    
    .first_footer_item p {
        font-size: 13px;
    }

    .footer div h5 {
        font-size: 16px;
    }

    .footer div ul li {
        font-size: 14px;
    }

    .footer div ul li::marker {
        font-size: 16px;
    }
}

@media screen and (min-width: 1080px) {

    .footer div h5 {
        font-size: 16px;
    }

    .footer ul {
        height: 90px;
    }

    .footer div ul li {
        font-size: 15px;
    }

    .footer div ul li::marker {
        font-size: 16px;
    }
}

@media screen and (min-width: 1220px) {

    .footer {
        grid-template-columns: auto auto auto auto;
        column-gap: 8%;
    }
}

@media screen and (min-width: 1280px) {

    .first_footer_item {
        max-width: 360px;
    }

    .footer .first_footer_item p {
        font-size: 15px;
        line-height: 2rem;
    }
    
    .footer div h4 {
        font-weight: 500;
        font-size: 24px;
        margin: 0 0 6px;
    }

    .footer div h5 {
        font-size: 17px;
    }

    .footer ul {
        height: 90px;
    }

    .footer div ul li::marker {
        font-size: 17px;
    }
}