@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #100217;
    color: #b0b0b0;
}

h1, h2, h3, h4, h5 {
    color: #ffffff;
}

h1 {
    font-size: 26px;
    line-height: 2.5rem;
}

p {
    line-height: 1.5rem;
    font-size: 12px;
}


                    /* HEADER & NAV */


header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.up {
    width: 100%;
    height: 70px;
    background-color: #000000;
    border-bottom: 5px solid #7d00a0;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    color: #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
}

.logo {
    font-size: 20px;
}

.nav_items {
    width: 60%;
}

.nav_items ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 12px;
    width: 100%;
}

.nav_items,
.login {
    display: none;
}

.login {
    font-size: 13px;
    padding: 5px 38px;
    margin-left: 50px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #b0b0b0;;
}

nav i{
    font-size: 24px;
    color: #ffffff;
}


                    /* HERO */


.hero {
    margin-top: 100px;
    width: 90%;
    max-width: 1440px;
}

.left_side {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    overflow-wrap: break-word; 
    width: 100%;
}

.hero .left_side {
    padding: 50px 0 50px 0; 
}

.hero .left_side p {
    margin-top: 10px;
}

.get_started {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 30px;
    width: 100%;
}

.regular_btn {
    padding: 14px 30px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
    background-color: #245CF5;
    margin-right: 20px;
}

.play {
    display: flex;
    align-items: end;
    justify-content: space-between;
    text-align: center;
    height: 18px;
    width: 110px;
}

.triangle_holder {
    background-color: #245CF5;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4px;
}

.triangle{
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 0px 4px 6px 4px;
    height: 0px;
    width: 0px;
    transform: rotate(90deg);
}

.play p {
    color: #ffffff;
    font-size: 13px;
}

.right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    width: 100%;
}

.left_side img, .right_side img {
    width: 94%;
    max-width: 300px;
} 

.slider_space {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 100%;
    margin: 20px 0 20px 0;
}

.rectangles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4px;
    width: 50px;
}

.rectangles div {
    height: 100%;
    width: 20px;
    border-radius: 15%;
}

.rectangles div:nth-child(1) {
    background-color: #245CF5;
}

.rectangles div:nth-child(2) {
    background-color: #3F3F3F;
}


                    /* INTERLUDE */






.first_holder .company img {
    width: 10px;
}

.second_holder .company img {
    width: 10px;
}